<da-modal [(open)]="daModal">
    abc
</da-modal>

<da-button (click)="daModal = !daModal">Open Modal</da-button>

<da-popup [triggers]="[elTooltip]">
    <div style="width: 300px; height: 150px">
        Dương Tuấn Đạt
    </div>
</da-popup>

<da-button #elTooltip>Trigger Tooltip</da-button>

<da-button (click)="showNotify()">Show Notify</da-button>

<div style="width: 350px;">
    <da-date [(value)]="date" (valueChange)="dateChange()"></da-date>
</div>
