.sign-up-page {
  width: 100vw;
  height: 100vh;
  padding: 5px 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.sign-up-box {
  width: 100%;
  flex: none;
  background: white;
  box-shadow: var(--default-box-shadow);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.logo-image {
  width: 92px;
  height: 92px;
  flex: none;
  min-width: 0;
  min-height: 0;
}

.message-content {
  padding: 5px 10px;
  width: 100%;
  min-width: 0;
  text-align: center;
  margin: 5px 10px;
  border-radius: 3px;
  flex: none;
  color: white;
}

.message-success {
  background: var(--brand-success);
}

.message-danger {
  background: var(--brand-danger);
}

.text-danger {
  color: var(--brand-danger);
}

.sign-up-form, .sign-up-form-content {
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow-y: auto;
}

.sign-up-form-content {
  padding: 0 5px;
}

.submit-button {
  flex: none;
}

.form-group {
  width: 100%;
}

.sign-up-form-footer {
  display: flex;
  justify-content: flex-end;
}

.link-login-page {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}

.link-login-page:active {
  color: var(--brand-primary);
}