<div class="background-dark sign-up-page">
    <div class="sign-up-box">
        <img class="logo-image" src="assets/images/logo.png">

        <div *ngIf="resultMessage" class="message-content message-success">{{ resultMessage }}</div>

        <form class="sign-up-form" (ngSubmit)="signUp()" ngNativeValidate>
            <div class="sign-up-form-content">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input [(ngModel)]="name" class="form-control" name="name" type="text" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]="email" class="form-control" name="email" type="text" required>
                    <div class="text-danger" *ngIf="errors.email">{{ errors.email[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input [(ngModel)]="phone" class="form-control" name="phone" type="text" required>
                    <div class="text-danger" *ngIf="errors.phone">{{ errors.phone[0] }}</div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password" class="form-control" name="password" type="password" required>
                </div>
                <div class="form-group">
                    <label for="password">Confim Password</label>
                    <input [(ngModel)]="password_confirmation" class="form-control" name="password" type="password" required>
                </div>
            </div>

            <button type="submit" class="btn btn-dark full-w submit-button" style="margin-top:10px">SIGN UP</button>
        </form>

        <div class="sign-up-form-footer">
            <div>Already have an account?</div>
            <a href="#" class="link-login-page" (click)="goLogin($event)">Login</a>
        </div>
    </div>
</div>