<div class="full">
    <div class="full-w flex flex-column flex-center" style="height: 100px; background:lightgray">
        <div>Total</div>
        <div style="font-size: 28px;">{{sum()}} VND</div>
    </div>
    <da-button (click)="edit()">Edit order</da-button>
    <div *ngIf="selectedOrder" style="padding: 20px;">
        Date: {{user.date}}
        <br> Meal: {{user.meal}}
        <br> status: {{selectedOrder.status}}
        <br> description: {{selectedOrder.description}}
        <br>
    </div>
    <da-button (click)="book()">Book</da-button>
</div>

<da-modal [(open)]="isModalOpen">
    <div style="padding: 30px;">
        <div class="flex flex-column" *ngFor="let food of foods">
            <div class="">{{food.name}}</div>
            <div class="flex flex-column" style="width: 150px; border:solid 1px;">
                <div style="width: 150px;">
                    <span>{{food.price}}</span>
                </div>
                <div class="flex-grow flex">
                    <span>quantity:</span>
                    <input type="number" name="sl" style="width: 86px;" [(ngModel)]="food.quantity">
                </div>
            </div>
        </div>
        <da-button (click)="isModalOpen = false">OK</da-button>
    </div>
</da-modal>