<div class="full-screen flex flex-column">
    <div *ngIf="sv.showMenu" class="menu color-white flex flex-center" style="position:relative">
        <div style="position:absolute; left: 20px;" (click)="back()">
            <i class="fa" [ngClass]="{'fa-arrow-left': !sv.isHome}" aria-hidden="true" style="font-size: 20px;"></i>
        </div>
        <div style="font-size: 24px; font-weight: bold">{{ sv.title }}</div>
		<div style="position:absolute; right: 20px;" class="cursor" (click)="out()">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 45px;"></i>
        </div>
    </div>
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>
</div>