<div class="full-screen sign-in-page background-dark">
    <div class="sign-in-box">
        <img class="logo-image" src="assets/images/logo.png">
            
        <div *ngIf="resultMessage" class="message-content" [ngClass]="['message-' + resultType]">{{ resultMessage }}</div>

        <form class="sign-in-form" (ngSubmit)="login()" ngNativeValidate>
            <div class="form-group">
                <label for="name">Email</label>
                <input [(ngModel)]="name" class="form-control" name="name" type="text" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="password" class="form-control" name="password" type="password" required>
            </div>
            <button type="submit" class="btn btn-dark full-w" style="margin-top:10px">SIGN IN</button>
        </form>

        <div class="sign-in-form-footer">
            <div>Do not have an account?</div>
            <a href="#" class="link-login-page" (click)="goSignup($event)">Sign up</a>
        </div>
    </div>
</div>