/* * {
    font-family: ProximaNova, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
} */

:root {
    --color-blue: #009adf;
}

/* Global variables - Can be used in every components by using var(--var-name) method*/
:root {
    /* Body */
    --body-bg: #f5f8fa;

    /* Brands */
    --brand-default: #000;

    --brand-primary: #20a0ff;
    --brand-primary-light: #58B7FF;
    --brand-primary-dark: #1D8CE0;

    --brand-secondary: #ddd;
    --brand-secondary-light: #eee;
    --brand-secondary-dark: #ccc;

    --brand-info: #50BFFF;
    --brand-success: #13ce66;
    --brand-warning: #f7ba2a;
    --brand-danger: #ff4949;

    /* Borders */
    --border-secondary: #ccc;

    --default-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}
  
.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
  
.btn-outline-dark:focus, .btn-outline-dark.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.2);
            box-shadow: 0 0 0 2px rgba(52, 58, 64, 0.2);
}
  
.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
}
  
.btn-outline-dark:active, .btn-outline-dark.active,
.show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.full {
    width: 100%; height: 100%;
}

.full-screen {
    width: 100vw; height: 100vh;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.inline-flex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.flex-grow {
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-center-a {
    align-items: center;
}

.flex-center-j {
    justify-content: center;
}

textarea {
    resize: none;
}

.text-l {
    font-size: 50px;
    font-weight: bold;
}

.text-m {
    font-size: 40px;
    font-weight: bold;
}

.color-white {
    color: white;
}

.background-dark {
    background-color: var(--color-blue);
}

.margin-bottom {
    margin-bottom: 25px;
}

.cursor {
    cursor: pointer;
}

.flex-wrap {
    flex-wrap: wrap;
}