.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-header, .flex-footer {
    flex: 0 0 auto;
}

.flex-content {
    flex: 1;
    overflow-y: auto;
    padding-top: 20px;
    min-width: 0;
    min-height: 0;
}

.da-table {
    display: flex;
    flex-flow: row wrap;
}

.table-details-modal {
    padding: 12px;
}