<div class="full flex flex-column">
    <div class="flex flex-center">
        <span>Date:</span>
        <span style="width: 200px;">
            <da-date [(value)]="user.date" (valueChange)="refresh()"></da-date>
        </span>
        <span>Meal:</span>
        <select name="meal" [(ngModel)]="user.meal" (change)="refresh()">
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
    </div>
    <div class="flex-grow">
        <div class="da-table">
            <button *ngFor="let table of tables" class="btn {{checkStatus(table) ? 'btn-primary' : 'btn-secondary'}}" [class.disabled]="!checkStatus(table)"
                (click)="onSelect(table)" style="font-size: 150%; width: 100px; margin:20px;">
                {{table.name}}
            </button>
        </div>
    </div>

    <div class="full-w flex" style="font-size: 150%;">
        <div class="flex-grow" style="text-align: center;">
            <button class="btn btn-secondary disabled"></button>
            Unavailable
        </div>
        <div class="flex-grow" style="text-align: center;">
            <button class="btn btn-primary"></button>
            Available
        </div>
    </div>
</div>
<da-modal [(open)]="modalIsOpen" (openChange)="goOrder()">
    <main class="table-details-modal" *ngIf="user.table">
        <div style="text-align: center; margin: 16px;">
            <button class="btn btn-lg btn-primary" style="font-size: 150%;">
                {{user.table.name}}
            </button>
        </div>
        <div style="margin-bottom:20px;">
            <div>Floor: {{user.table.location}}</div>
            <div>Number of seats: {{user.table.number_of_seats}}</div>
            <div>Description: {{user.table.description}}</div>
        </div>

        <div style="text-align: end;">
            <button class="btn btn-secondary" (click)="modalIsOpen = false">CANCEL</button>
            <button class="btn btn-primary" (click)="book()">BOOK</button>
        </div>
    </main>
</da-modal>