<div class="full flex-container" style="font-size: 150%; padding: 12px 6px;">
    <main class="flex-content">
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let order of orders" (click)="onSelect(order)">
                {{share.getDate(order.date_time)}} : {{order.meal}}
            </li>
        </ul>
    </main>
    <footer class="flex-footer" style="font-size: 150%; text-align: end;">
        <button class="btn btn-primary" (click)="goTable()">ADD BOOKING</button>
    </footer>
</div>
<da-modal [(open)]="modalIsOpen">
    <main class="order-details-modal" *ngIf="selectedOrder">
            date_time: {{selectedOrder.date_time}} <br>
            meal: {{selectedOrder.meal}} <br>
            status: {{selectedOrder.status}} <br>
            payment_method: {{selectedOrder.payment_method}} <br>
            paid: {{selectedOrder.paid}} <br>
            description: {{selectedOrder.description}} <br>
            note: {{selectedOrder.note}} <br>
    </main>
</da-modal>