.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-header, .flex-footer {
    flex: 0 0 auto;
}

.flex-content {
    flex: 1;
    overflow-y: auto;
}

.order-details-modal {
    padding: 12px;
}