/* Proxima Nova */

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/Mark Simonson - Proxima Nova Alt Regular.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/Mark Simonson - Proxima Nova Alt Semibold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/Mark Simonson - Proxima Nova Alt Regular Italic.otf') format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/Mark Simonson - Proxima Nova Alt Semibold Italic.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}
