.tooltipster-sidetip.tooltipster-shadow.tooltipster-search-box .tooltipster-box {
  background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 21px 0 rgba(0, 0, 0, 0.3);
  border: none;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-search-box .tooltipster-content {
	color: #000;
	padding: 0px 0px;
	overflow: visible;
}

.tooltipster-arrow-border, .tooltipster-arrow-background {
	border-bottom-color: white!important;
}